body {
    
    background: rgba(255, 255, 255, 0.8);
    margin-left: auto;
    margin-right: auto;
    /* height: 100vh; */
    /* background: url('back.png') no-repeat center center fixed; */
    /* background-size: cover; */
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    font-family: monospace;
    }
.motherdiv{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    
    
    flex-direction: column;
    margin-bottom: 0%;
    align-items: center;
    
}
.clickable {
    cursor: pointer;
    /* background: url('back.png') no-repeat center center fixed; */
    display: flex;
    
    width: 100vw;
    height:100vw;
    /* flex-direction: column; */
    
    justify-content:left;
    align-items: baseline;
    /* background-size: contain; */
    background-size: cover;
    
    font-family:didot;
    /* background-size: cover; */
}
/* .textfield{
    background: rgba(255, 255, 255, 0.8);
    width: 100vw;
    height: 33px;
    padding: 0px;
    border-radius: 0px;
    position: absolute;
    bottom: 0px; 
} */
.hidden{
   
    display: hidden;
}
.container {

    background: rgba(255, 255, 255, 0.5);
    width: auto;
    height: auto;
    margin-top: 20%;
    border-radius: 0px;
    text-align: center;
}
/* .info {
    
    background: rgba(255, 255, 255, 0.8);
    width:inherit;
    height: auto;
    padding: 0px;
    border-radius: 0px;
    text-align: center;
} */

h1 {
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 10px;
}

input {
    margin-bottom: 20px;
    padding: 10px;
    width: 200px;
}

button {
    padding: 10px 20px;
    background-color: #f4a51c;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #e5950c;
}
